@use '../../../scss/' as *;

.wrapper {
  display: flex;
  align-items: center;

  .user-btn {
    width: 46px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;

    .avatar {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }

  .user-name {
    font-size: 1.4rem;
    font-weight: 600;
    max-width: 120px;
    padding: $padding 0;
    width: 100%;
    display: block;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
