@use '../../scss/' as *;

.wrapper {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: center;
  background-color: $white-color;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.inner {
  max-width: 1318px;
  width: 100%;
  height: 100%;
  padding: 0 $padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0 $gap;

  @include tablet {
    gap: 0 4px;
    margin-right: 8px;
    .btn-toggle {
      display: none;
    }
  }
  @include mobile {
    // flex: 1px;
  }
}

.btn-toggle {
  width: 28px;
  height: 28px;
  padding: 2px;
  background-color: $white-color;
  cursor: pointer;

  .icon-toggle {
    width: 100%;
    height: 100%;
  }
}
.link-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  border-radius: 6px;
  flex-shrink: 0;
  height: 34px;
  width: 34px;
  object-fit: contain;

  @include mobile {
    width: 26px;
    height: 26px;
  }
}

.logo-title {
  color: $black-color;
  font-size: 1.8rem;
  font-weight: 700;

  @include tablet {
    font-size: 1.6rem;
    max-width: 130px;
    text-align: center;
  }

  @include mobile {
    display: none;
  }
}

.header-search {
  display: flex;
  align-items: center;
  gap: 0 calc($gap / 2);
  width: 588px;

  .search {
    flex: 1;
  }

  .voice-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    border-radius: 50%;
    cursor: pointer;
  }

  @include tablet {
    width: auto;
    border: none;
    flex: 1px;

    .voice-btn {
      display: none;
    }
  }

  @include mobile {
    max-width: 261px;
  }
}
