@use '../../scss/' as *;

.wrapper {
  display: flex;
  align-items: center;
  border: 1px solid $border-color;

  .search-icon {
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  &:focus-within {
    border: 1px solid $primary-color;
  }

  .input {
    flex: 1;
    padding: 2px 6px;
    height: 30px;
    color: black;
    outline: none;
    border: none;
    font-size: 1.6rem;
    line-height: 1.5;
    caret-color: $primary-color;

    &:focus + .search-btn {
      border-left-color: $primary-color;
    }
  }

  .clear-btn {
    height: 100%;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
  }

  .search-btn {
    width: 64px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-left: 1px solid $border-color;
    cursor: pointer;

    &.hasValue-search {
      background-color: $background-color;
    }

    &:hover {
      background-color: $background-color;
    }

    .search-btn-icon {
      width: 24px;
      height: 24px;
    }
  }
}
//search-result
.search-result {
  width: 588px;
  max-height: calc(100vh - $header-height);
  overflow-y: hidden;
  border-top: none;
}

.search-result-popper {
  border-top: 0;
  overflow: hidden;
  border-radius: none;
  padding: $padding 0;
  display: flex;
  flex-direction: column;
  border: 1px solid $primary-color;
  border-top: none;

  .search-result-novalue {
    padding-left: calc($padding + 40px);
  }

  .search-popper-list {
    max-height: 230px;
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .search-fixed {
    position: fixed;
    padding-left: $padding;
    user-select: none;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .search-body {
    overflow-y: scroll;
    flex: 1;
    margin-top: 18px;
  }
}

.modal-title {
  padding: $padding;
  font-size: 1.8rem;
  font-weight: 500;
}
