//responsive
$mobile-width: 391px;
$tablet-width: 769px;

//color
$primary-color: #ff1b17;
$white-color: white;
$black-color: black;
$background-color: #f9f9f9;

//text
$text-color: #161823;

//padding
$padding: 8px;
$gap: 16px;

// header
$header-height: 56px;
