@mixin maxWidth($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}
//responsive
$mobile-width: 390px;
$tablet-width: 768px;

//color
$primary-color: #ff1b17;
$white-color: white;
$black-color: black;
$background-color: #f9f9f9;

//text
$text-color: #161823;
