@use '../../scss/' as *;

.wrapper {
  display: flex;
  align-items: center;

  .action-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      color: $primary-color;
    }
  }

  .user-btn {
    width: 46px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;

    .avatar {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }

  @include mobile {
    gap: 0 9px;
    margin-left: 8px;
    .action-btn {
      width: 28px;
      height: 28px;
    }
    .user-btn {
      width: 32px;
      height: 32px;
    }
  }
}
