@use '../../scss/' as *;

.wrapper {
  display: flex;
  align-items: center;
  gap: 0 $gap;

  .active {
    color: $primary-color;
  }

  .action-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;

    &:focus {
      color: $primary-color;
    }
    &:hover {
      background-color: $background-color;
    }
  }

  .user-btn {
    width: 46px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;

    .avatar {
      border-radius: 50%;
      width: 32px;
      height: 32px;
    }
  }

  .btn-login {
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    height: 40px;
    text-transform: uppercase;
    gap: 0 $gap;
    padding: 0 $gap;

    &:hover {
      background-color: $background-color;
    }
  }

  @include mobile {
    gap: 0 9px;
    margin-left: 8px;
    .action-btn {
      width: 28px;
      height: 28px;
    }
    .user-btn {
      width: 32px;
      height: 32px;
    }
  }
}
